altair
blackfynn 
bokeh 
ggplot
h5py 
ipywidgets 
jupyter 
jupyter_contrib_nbextensions 
jupyterlab 
jupytext 
matplotlib 
neo==0.5.2 
notedown 
numpy 
pandas 
plotly 
rpy2==2.8.5
scikit-image 
scikit-learn 
scipy 
seaborn
simplegeneric 
statsmodels 
sympy 
vega_datasets 