jupyter
jupyterlab
pandas
numpy
matplotlib
neo==0.5.2
h5py
ggplot
jupyter_contrib_nbextensions
ipywidgets
scipy
notedown
statsmodels
seaborn
blackfynn
plotly
bokeh
scikit-image
scikit-learn
sympy
jupytext
altair
vega_datasets
simplegeneric
rpy2==2.8.5
great-expectations==0.7.2
